body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  width: 400px;
  margin: auto;
  background: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #1e1e1e;
}

input {
  display: block;
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 0.7em;
  margin-top: 0.5em;
  font-size: 1em;
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  border-radius: 20px;
}

#status {
  margin-top: 1em;
  font-size: 0.9em;
  color: gray;
}
